.product-card {
    background-color: white;
    width: 600px;
    min-height: 300px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.text-content {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    flex: 2;
    justify-content: space-between; 
}

.product-card img {
    width: 20px;
    border-radius: 8px;
    flex: 2;

}




